body {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    
}
input { /* Had to overwrite all input fields as divs enclosing inputs caused unnecessary padding. */
    padding-left: 0% !important;
    padding-right: 0% !important;
    
}
table, th, td {
    border: 1px solid black;
}




#input {
    overflow: auto;
}

#FormsEditable {
    width: 48%;
    float: right;
    text-align: center;
}




/* dinner schedule styling */
#dinnerScheduleDiv {
    float: left;
    border: 1px solid black;
    margin-left: 20px; 
    margin-top: 20px;
    width: 50%;
}
#dinner {
    width: 25%;
    position: absolute;
    margin-left: 10px;
}
#textInputDiv {
    padding-left: 10%;
    width: 25%;
}
#tableRemoveWeek {
    width: 60px;
    text-align:center;
}
#dinnerInputForm {
    overflow: auto;
    float: right;
    width: 40%;
    text-align: center;
}
#weekTableRow {
    width: 10px;
    height: 10px;
    text-align: center;
}
.dinnerTableRow {
    width: 200px;
    text-align: center;
}
#MatsedelBorder {
    border: 1px solid black;
    float: left;
    width: 50%;
    text-align: center;
}
#WeekBorder {
    width: 50%;
    float: left;
    text-align: center;
}
#Heading {
    text-align: center;
}
#WholeMatsedelBoard {
    border: 2px solid black;
    height: 500px;
    width: 60%;
    float: right;
    margin: 1px;
}
.Forms {
    border: 2px solid black;
    width: 39%;
    padding: 2px;
    margin: 10px;
    float:left;
}
.AlignCenter {
    display: inline;
}
.MatsedelText {
    border: 1px solid black;
    text-align: center;
    width: 200px;
}
.UpdateForms {
    border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
}
#Week {
    width: 50%;
}
.AlignEnd {
    text-align: left;
}
#weekTableRow {
width: 50px;
text-align: center;
}
#tableRemoveWeek {
width: 60px;
text-align:center;
}




/* popup */
.popupBox {
    color: rgb(24, 24, 24);
    outline: none;
    box-sizing: border-box;
    position: absolute;
    display: none;
}
.popupArrow {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 0.75rem;
    max-height: 0.75rem;
    background-color: rgb(24, 24, 24);
    top: -0.0625rem;
    transform: rotate(45deg) translateY(-50%);
    outline: none;
    box-sizing: border-box;
    color: rgb(24, 24, 24);
}
.popupMessageBox {
    display: block;
    position: relative;
    white-space: normal;
    padding: 1.25rem;
    background-color: rgb(24, 24, 24);
    box-shadow: rgb(0 0 0 / 50%) 0px 0.25rem 0.625rem 0px;
    text-transform: none;
    text-align:center;
    outline: none;
    box-sizing: border-box;
    color: rgb(24, 24, 24);
}
.popupMessage{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 0.8125rem;
    line-height: 1.25rem;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    white-space: normal;
    text-transform: none;
    text-align: center;
}
p.popupMessage {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 0.8125rem;
    line-height: 1.25rem;
    outline: none;
    box-sizing: border-box;
    white-space: normal;
    text-transform: none;
    text-align: center;
}





/*INPUT IMG CSS*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 400px 60px 400px 60px ;
    gap: 80px;   
    padding: 10px;
    background-color: rgb(49, 49, 49);
}
.grid-container > div{
text-align: center;
font-size: 30px;
}
.templateImg{
    height:400px;
}
.bttnContainer {
    width: 100%;
    background-color: rgb(61, 61, 61);
    height: 50px;
}